.banner {
    position: relative;
    scroll-margin-top: 87px;

    &-content {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .text-xl {
            color: var(--ey-white);
            b,strong {
                font-weight: 700 !important;
            }
        }

        .items{
            gap: 32px;
            display: flex;
            flex-direction: column;
        }

        @media(max-width: 767px) and (min-width: 576px) {
            top: 60%;
            transform: translate(-50%, -70%);
        }

        @media(max-width: 575px) {
            top: 56%;
        }
    }
}