.beneficios{
    padding-block: 96px;
    scroll-margin-top: 87px;

    .content{
        &-title, &-slider{
            margin-bottom: 64px;
            @media (max-width: 991px){
                margin-bottom: 32px;
            }
        }
    }

    @media (max-width: 991px){
        padding-block: 64px;
        .container-lg{
            padding: 0px;
        }
    }
}

.comparacion{
    padding-block: 96px;
    scroll-margin-top: 87px;
    background: var(--bs-secondary-bg);
    .content{
        display: flex !important;
        justify-content: center !important;
    }

    &-table {
            border-collapse: collapse;
            text-align: center;
            font-family: sans-serif;
    
            th,
            td {
                border: 1px solid #ddd;
                padding: 1rem;
            }
    
            thead th {
                background: #f97316;
                color: #fff;
            }
    
            thead th:last-child {
                background: #e5e7eb;
                color: #000;
            }
        }

    @media (max-width: 991px){
        padding-block: 64px;
    }
}

.razones{
    padding-block: 96px;

    .parent {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        grid-column-gap: 64px;
        grid-row-gap: 0px;

        .content-title{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
            flex: 1 0 0;
            @media (max-width: 991px){
                text-align: center !important;
                .text-xl{
                    display: none !important;
                }
            }
        }

        @media (max-width: 991px){
            grid-template-columns: 1fr;
            margin-bottom: 32px;
        }
    }

    @media (max-width: 991px){
        padding-block: 64px;
    }
}

.pasos{
    padding-block: 96px;
    scroll-margin-top: 87px;

    .content{
        &-title, &-slider{
            .h2-display{
                font-size: 64px;
                @media (max-width: 991px){
                    margin-bottom: 48px;
                }
            }
            margin-bottom: 64px;
            @media (max-width: 991px){
                margin-bottom: 32px;
            }
        }
    }

    @media (max-width: 991px){
        padding-block: 64px;
        .container-lg{
            padding: 0px;
        }
    }
}

.pioneros{
    padding-block: 96px;
    scroll-margin-top: 87px;
    .content{
        .text-xl{
            color: var(--ey-white);
        }
        @media (max-width: 991px){
            margin-bottom: 32px;
            .h1-disdplay{
                font-size: 44px;
            }
        }
    }
    @media (max-width: 991px){
        padding-block: 64px;
    }
}

.preguntas-frecuentes{
    scroll-margin-top: 87px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%), var(--bs-secondary-bg);
    padding-top: 96px;
    padding-bottom: 32px;

    .content-title{
        margin-bottom: 32px;
    }

    img{
        position: absolute;
        //left: -111px;
        right: 12px;
        bottom: 56px;
        border-radius: 32px;
        max-width: 728px;
        max-height: 404px;
        @media (max-width: 1200px){
            max-width: 570px;
            right: 11px;
        }

        @media (max-width: 991px){
            border-radius: 32px 0px 0px 32px;
            max-width: 385px;
            max-height: 292px;
            right: 0px;
            top: 169px;
        }

        @media (max-width: 767px){
            max-height: 360px;
        }

        @media (max-width: 500px){
            max-width: 290px;
            max-height: 397px;
            top: 174px;
        }
    }

    @media (min-width: 991px){
        .content-img{
            position: relative;
        }
    }

    @media (max-width: 991px){
        padding-block: 64px;
        position: relative !important;
    }
}

.informativo{
    padding-block: 96px;

    img{
        border-radius: 32px;
    }

    .content{
        display: flex;
        padding: 32px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        .title{
            color: var(--bs-primary);
            font-size: 40px;
            font-style: normal;
            font-weight: 300;
            line-height: 120%;
            margin-bottom: 0px;
            @media (max-width: 991px){
                font-size: 32px;
            }
        }
        @media (max-width: 991px){
            padding: 16px;
            gap: 16px;
        }
    }

    @media (max-width: 991px){
        padding-block: 32px;
        padding-top: 0px !important;
    }
}

.experiencia{
    padding-bottom: 96px;
    .text-xl{
        margin-bottom: 32px;
    }
    @media (max-width: 991px){
        padding-bottom: 64px;
    }
}



